{% extends '_partials/base.html' %}

{% block title %}
      <title>Dublin Tiffin Service - Order History</title>
{% endblock %}

{% block body %}

<div class="container">
      <br>
      <h1 class="text-center">Order History</h1>
      <hr>
      <br>

      <table class="table able-striped table-hover">
            <thead>
                  <tr>
                        <th scope="col">Id</th>
                        <th scope="col">User</th>
                        <th scope="col">Meal</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Cost</th>
                        <th scope="col">Is Delivered</th>
                        <!-- <th scope="col">Actions</th> -->
                  </tr>
            </thead>
            <tbody>
                  {% for booking in bookings %}
                  <tr>
                        <td scope="row">{{ booking.id }}</td>
                        <td>{{ booking.user_id }}</td>
                        <td>{{ booking.meal_id }}</td>
                        <td>{{ booking.quantity }}</td>
                        <td>{{ booking.total_cost }}</td>
                        <td>{{ booking.is_delievered }}</td>
                        <!-- <td><a href="{% url 'delete_bookings' booking.id %}"><button type="button" class="btn-close"
                                          aria-label="Close"></button></a></td> -->
                  </tr>
                  {% endfor %}
            </tbody>
      </table>
</div>

{% endblock %}