option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: dublintiffinservice.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: dublintiffinservice.settings
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
    "SECRET_KEY": "django-insecure-32evmspj^l##@hejl2ih#3+*11!vs*i71nka!wirhy$$ep73"